@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* Custom Colors */
  --color-pwblue: #2480e6;
  --color-pwpink: #e83561;

  /* Custom Font Family */
  --font-sans: "Outfit Variable", ui-sans-serif, system-ui, sans-serif;

  /* Custom Screen/Breakpoint */
  --breakpoint-xs: 375px;

  /* Custom Background Image */
  --background-image-pw-gradient: linear-gradient(
    to bottom,
    white 4rem,
    #2480e6 4rem calc(100% - 4rem),
    white calc(100% - 4rem)
  );
}

/* Custom Utility Classes */
@layer utilities {
  .bg-pw-gradient {
    background-image: linear-gradient(
      to bottom,
      white 4rem,
      #2480e6 4rem calc(100% - 4rem),
      white calc(100% - 4rem)
    );
  }
}
